<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/mvpbuilders/rails-template/main/images/mvp-logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      <%= Rails.application.class.module_parent_name %>
    </a>
  </div>
</nav>
